apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_data }}
    server: {{ server_url }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    namespace: {{ namespace }}
    user: {{ namespace }}-user
  name: {{ namespace }}-context
current-context: {{ namespace }}-context
kind: Config
users:
- name: {{ namespace }}-user
  user:
    token: {{ user_token }}
